In [1]:
# Q1. List any five functions of the pandas library with execution.

In [1]:
import pandas as pd
df=pd.DataFrame({"k1":[1,2,3],"k2":[4,5,6],"k3":[9,7,8]},index=["a","b","c"])

In [2]:
df.head(2)

   k1  k2  k3
a   1   4   9
b   2   5   7

In [3]:
df.tail(2)

   k1  k2  k3
b   2   5   7
c   3   6   8

In [4]:
df.reindex(["b","c","a"])

   k1  k2  k3
b   2   5   7
c   3   6   8
a   1   4   9

In [5]:
df.describe()

        k1   k2   k3
count  3.0  3.0  3.0
mean   2.0  5.0  8.0
std    1.0  1.0  1.0
min    1.0  4.0  7.0
25%    1.5  4.5  7.5
50%    2.0  5.0  8.0
75%    2.5  5.5  8.5
max    3.0  6.0  9.0

In [6]:
df["k3"].sort_values()

b    7
c    8
a    9
Name: k3, dtype: int64

In [7]:
""" Q2. Given a Pandas DataFrame df with columns 'A', 'B', and 'C', write a Python 
function to re-index the DataFrame with a new index that starts from 1 and increments by
2 for each row. """

import pandas as pd

def reindex_dataframe(df):
    new_index = pd.RangeIndex(start=1, stop=2 * len(df) + 1, step=2)
    df = df.reset_index(drop=True)
    df.index = new_index
    return df

# Example usage:
df = pd.DataFrame({'A': [10, 20, 30], 'B': [40, 50, 60], 'C': [70, 80, 90]})
reindexed_df = reindex_dataframe(df)
print(reindexed_df)

    A   B   C
1  10  40  70
3  20  50  80
5  30  60  90

In [23]:
""" Q3. You have a Pandas DataFrame df with a column named 'Values'. Write a Python function that
iterates over the DataFrame and calculates the sum of the first three values in the 'Values' column.
The function should print the sum to the console.
For example, if the 'Values' column of df contains the values [10, 20, 30, 40, 50], your function 
should calculate and print the sum of the first three values, which is 60. """

import pandas as pd

def calculate(df):
    sum=0
    for index,row in df.iterrows():
        sum+=row["values"]
        if index==2:
            break
    print("sum of first three values is",sum)
    
df=pd.DataFrame({"values":[10,20,30,40,50]})
calculate(df)

sum of first three values is 60

In [9]:
""" Q4. Given a Pandas DataFrame df with a column 'Text', write a Python function to 
create a new column 'Word_Count' that contains the number of words in each row of the 
'Text' column. """

import pandas as pd

df=pd.DataFrame({"Text":["Pandas is a Python library used for working with data sets. ",
                         "It has functions for analyzing, cleaning, exploring, and manipulating data",
                         "The name ""Pandas"" has a reference to both ""Panel Data"", and ""Python Data Analysis"" and was created by Wes McKinney in 2008."]})
df["Word_Count"]=df["Text"].apply(lambda x: len(x.split()))
df

                                                Text  Word_Count
0  Pandas is a Python library used for working wi...          11
1  It has functions for analyzing, cleaning, expl...          10
2  The name Pandas has a reference to both Panel ...          22

In [53]:
# Q5. How are DataFrame.size() and DataFrame.shape() different?

# ans
""" DataFrame.size: It returns the total number of elements in the DataFrame. 
It represents the product of the number of rows and the number of columns in the
DataFrame.

DataFrame.shape: It returns a tuple representing the dimensions of the DataFrame in the
form (rows, columns). The first element of the tuple represents the number of rows, 
and the second element represents the number of columns."""

In [ ]:
# Q6. Which function of pandas do we use to read an excel file?

# ans
""" 
To read an Excel file in pandas, you can use the read_excel() function.
It allows you to read data from an Excel file and create a DataFrame. """

In [10]:
""" Q7. You have a Pandas DataFrame df that contains a column named 'Email' that contains email
addresses in the format 'username@domain.com'. Write a Python function that creates a new column
'Username' in df that contains only the username part of each email address.
The username is the part of the email address that appears before the '@' symbol. For example, if the
email address is 'john.doe@example.com', the 'Username' column should contain 'john.doe'. Your
function should extract the username from each email address and store it in the new 'Username'
column. """

import pandas as pd

def extract_username(df):
    df['Username'] = df['Email'].str.split('@').str[0]
    return df
# Example usage:
df = pd.DataFrame({'Email': ['john.doe@example.com', 'alice.smith@example.com', 'bob.jones@example.com']})
extract_username(df)

                     Email     Username
0     john.doe@example.com     john.doe
1  alice.smith@example.com  alice.smith
2    bob.jones@example.com    bob.jones

In [19]:
""" Q8. You have a Pandas DataFrame df with columns 'A', 'B', and 'C'. Write a Python function that selects
all rows where the value in column 'A' is greater than 5 and the value in column 'B' is less than 10. The
function should return a new DataFrame that contains only the selected rows. """

import pandas as pd
df=pd.DataFrame({"A":[3,8,6,2,9],"B":[5,2,19,3,1],"C":[1,7,4,5,2]})
def fun(df):
    selected_rows=df[(df["A"]>5) & (df["B"]<10)]
    return selected_rows
fun(df)

   A  B  C
1  8  2  7
4  9  1  2

In [20]:
""" Q9. Given a Pandas DataFrame df with a column 'Values', write a Python function to 
calculate the mean, median, and standard deviation of the values in the 'Values' column. """

df=pd.DataFrame({"Values":[45,65,78,84]})
def calculate(df):
    print("Mean : ",df.mean())
    print("Median : ",df.median())
    print("Standard Deviation : ",df.std())
calculate(df)

Mean :  Values    68.0
dtype: float64
Median :  Values    71.5
dtype: float64
Standard Deviation :  Values    17.262677
dtype: float64

In [40]:
""" Q10. Given a Pandas DataFrame df with a column 'Sales' and a column 'Date', write a Python function to
create a new column 'MovingAverage' that contains the moving average of the sales for the past 7 days
for each row in the DataFrame. The moving average should be calculated using a window of size 7 and
should include the current day. """

df = pd.DataFrame({"Date": pd.date_range(start="2023-05-25", periods=10),
        "Sales": [10, 12, 15, 11, 13, 9, 14, 16, 18, 20]})

def calculate_moving_average(df):
    df["MovingAverage"]=df["Sales"].rolling(window=7).mean()
    return df

fun(df)

        Date  Sales  MovingAverage
0 2023-05-25     10            NaN
1 2023-05-26     12            NaN
2 2023-05-27     15            NaN
3 2023-05-28     11            NaN
4 2023-05-29     13            NaN
5 2023-05-30      9            NaN
6 2023-05-31     14      12.000000
7 2023-06-01     16      12.857143
8 2023-06-02     18      13.714286
9 2023-06-03     20      14.428571

In [49]:
""" Q11. You have a Pandas DataFrame df with a column 'Date'. Write a Python function that
creates a new column 'Weekday' in the DataFrame. The 'Weekday' column should contain the 
weekday name (e.g. Monday, Tuesday) corresponding to each date in the 'Date' column. """

import pandas as pd

def add_weekday_column(df):
    df["Weekday"] = df["Date"].dt.strftime("%A")
    return df

df=pd.DataFrame({"Date": pd.date_range("2023-05-21",periods=5)})
add_weekday_column(df)

        Date    Weekday
0 2023-05-21     Sunday
1 2023-05-22     Monday
2 2023-05-23    Tuesday
3 2023-05-24  Wednesday
4 2023-05-25   Thursday

In [54]:
""" Q12. Given a Pandas DataFrame df with a column 'Date' that contains timestamps, write a Python
function to select all rows where the date is between '2023-01-01' and '2023-01-31'. """

import pandas as pd

def select_rows_between_dates(df):
    df['Date'] = pd.to_datetime(df['Date'])  # Convert 'Date' column to datetime format
    selected_rows = df[(df['Date'] >= '2023-01-01') & (df['Date'] <= '2023-01-31')]  # Boolean indexing
    return selected_rows

# Sample DataFrame
df = pd.DataFrame({'Date': ['2023-01-01', '2023-01-15', '2023-01-31', '2023-02-10']})

# Call the function
selected_rows = select_rows_between_dates(df)

# Print the selected rows
print(selected_rows)

        Date
0 2023-01-01
1 2023-01-15
2 2023-01-31

In [ ]:
""" Q13. To use the basic functions of pandas, what is the first and foremost necessary 
library that needs to be imported? """

# ans
""" 
The first and foremost necessary library that needs to be imported to use the basic 
functions of pandas is the pandas library itself. """